<div class="example-container">
  <form [formGroup]="forgotPasswordForm">
    <h1>Forgot Password</h1>

    <ng-container *ngIf="step === 1">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="ansh@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email?.touched && email?.invalid">
          {{ emailErrorMessage }}
        </mat-error>
      </mat-form-field>
      <p>Already Existing? <button (click)="login()">Login Here</button></p>

      <section>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="sendOtp()"
        >
          Send OTP
        </button>
      </section>
    </ng-container>
    <ng-container *ngIf="step === 2">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="ansh@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email?.touched && email?.invalid">
          {{ emailErrorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>OTP</mat-label>
        <input matInput placeholder="123456" formControlName="otp" required />
        <mat-error *ngIf="otp?.touched && otp?.invalid">
          {{ otpErrorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hideNewPassword ? 'password' : 'text'"
          formControlName="newPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          type="button"
          aria-label="Toggle password visibility"
        >
          <mat-icon>
            {{ hideNewPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error *ngIf="newPassword?.touched && newPassword?.invalid">
          {{ newPasswordErrorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          type="button"
          aria-label="Toggle password visibility"
        >
          <mat-icon>
            {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
          {{ confirmPasswordErrorMessage }}
        </mat-error>
      </mat-form-field>
      <p>Already Existing? <button (click)="login()">Login Here</button></p>
      <section>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="resetPassword()"
        >
          Reset Password
        </button>
      </section>
    </ng-container>
  </form>
</div>
